{% extends 'base-adm.html.twig' %}

{% block title %}Gestion des adhérents{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{% block body %}
    <h2>Gestion des adhérents</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col" class="text-center">Adhérent</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td><button class="btn-toggle {{ user.adherent ? 'active' }}" data-url="{{ path('administration_adh_toggle', { 'adh' : user.email }) }}"></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
